h1 {
    text-align:center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    margin-left:200px;
    margin-bottom:4px;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display:inline-block;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    display:inline-block;
}

#premiacoes {
    margin-top:30px;
    width:700px;
    text-align:center;
}

#premiacoes ul {
    list-style-type:none;
}

#premiacoes ul li {
    display:inline;
}

footer {
    margin-top:30px;
    font-weight: bold ;
}